# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual Environment
.venv/

# IDEs
.idea/
.vscode/
.spyderproject/

# Environment variables
.env

# Generated data
database/
export/
*.csv

# OS-specific
.DS_Store
Thumbs.db

# Test files
tests/*