# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual Environment
.venv/

# IDEs
.idea/
.vscode/
.spyderproject/

# Environment variables
.env

# Generated data
db/
export/

# OS-specific
.DS_Store
Thumbs.db
